/* 主页index */
/* 顶部导航条的容器 */
.topbar-wrapper{
    width: 100%;
    /* 设置行高和高度 */
    height: 40px;
    line-height: 40px;
    background-color: #333;
}
/* 设置超链接的颜色色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: #fff;
}
/* 设置中间分割线 */
.topbar .line{
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}
/* 设置左侧导航栏 */
.service,.topbar li{
    float: left;

}
.shop-cart,.user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.shop-cart i{
    margin-right: 1px;
}